*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
body{
  background: #434343;
}
h1{
  color: red;
  font-size: 40px;
  font-weight: 800;
  text-shadow: 0px 1px 2px white;
}
h4{
  display: inline-block;
  color: white;
  margin-bottom: 5px;
}
input{
  border: 2px solid grey;
  width: 300px;
  height: 30px;
}
input:focus{
  outline: none;
  border: 2px solid gray;
}
button{
  height: 30px;
  width: 50px;
  border: 2px solid grey;
  border-left: none;
  cursor: pointer;
}
button:focus{
  outline: none;
}
span{
  color: lightgray;
  font-size: 15px;
  font-weight: 600;
}
.containerProva{
  background: lime;
  height: 100%;
  width: 100%;
}

#header_boolflix{
  background: black;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0 30px;
}
.logo{
  /* background: white; */
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  width: 50%;
  height: 50px;
}
button.delete_research{
  height: 30px;
  width: 150px;
  border: 2px solid grey;
  border-left: none;
  cursor: pointer;
  color: red;
}
button span{
  color: red;
  font-size: 15px;
}
.input_search{
  /* background: white; */
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 50px;
}


#main_boolflix{
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  padding: 30px;
}
.card_container{
  /* width: calc(100% / 5); */
  padding: 0 15px 15px 0;
}
.poster_container{
  background: black;
  position: relative;
  overflow: hidden;
  width: 220px;
  height: 330px;
  border: 1px solid white;
}
.poster_container img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.poster_container i{
  color: orange;
  font-size: 15px;
}
.layover_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0;
  padding: 30px 10px 0px;
}
.layover_container img{
  width: 22px;
  height: 20px;
  margin-left: 5px;
  vertical-align: middle;
}
.poster_container:hover .layover_container {
  opacity: 1;
  cursor: pointer;
  overflow-y: scroll;
}
