<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- ms_CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- dayjs CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.7/dayjs.min.js" integrity="sha512-kZ+x2gdehn6OZMWZSp3Vt5R+v9hQTYEATQwaUfWquhxbvNVAy6IRtYs7asdyxKUTqG0I5ZqBqnzcBrpnHJCAGw==" crossorigin="anonymous"></script>
    <!-- vueCDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- axios CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    <title>BoolFix | Vue</title>
  </head>
  <body>

    <section id="root">

      <header id="header_boolflix">

        <div class="logo">
          <h1>BOOLFLIX</h1>
        </div>

        <div class="input_search">
          <input type="text" name="" value="" placeholder="Ricerca in query di fantozzi"
                v-model="searchFilm"
                @keydown.enter="filterFilms">
          <button @click="filterFilms" type="button" name="button">
            <i class="fas fa-search"></i>
          </button>
        </div>

      </header>


      <main id="main_boolflix">

        <div class="card_container"
              v-for="(film, index) in cardFilms"
              v-if="film.visible == true">
          <!-- <a href="#"> -->
            <div class="poster_container">
              <img :src="'https://image.tmdb.org/t/p/w220_and_h330_face' + film.poster_path" alt="Locandina">
              <div class="layover_container">
                <div>
                  <h4>Titolo: <span>{{film.title}}</span></h4>
                </div>
                <div>
                  <h4>Titolo originale: <span>{{film.original_title}}</span></h4>
                </div>
                <div>
                  <h4>Voto: </h4>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <div>
                  <h4>Overview: <span>{{film.overview}}</span></h4>
                </div>
              </div>
            </div>
          <!-- </a> -->
        </div>
      </main>

    </section>

    <!-- codice js esterno -->
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
